@model IQueryable<Product>

@{
    Layout = "_Layout";
}

<div class="container" id="root-container"></div>

@section Scripts {
    <script>
        console.log("Gipermall");
        document.addEventListener('DOMContentLoaded', function () {

        });
    </script>
}
