@model IQueryable<Product>

@{
    Layout = "_Layout";
}

<div id="coast-container"></div>
<div id="ProductInfo-container"></div>

@section Scripts {
    <script>
        console.log("Gipermall");
        document.addEventListener('DOMContentLoaded', function () {

        });
    </script>
}
