@model IQueryable<Product>

@{
    Layout = "_Layout";
}

<div id="coast-container"></div>
<div id="table-container"></div>
<div id="pagination-container"></div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

        });
    </script>
}
