body {
    display: grid;
    font-size: 16px;
}

#root {
    background-color: #ffa1a1
}

details {
    display: block;
}

.selected {
    background-color: #ffa1a1 !important;
    transform: translate3d(1rem, 1rem, 1rem);
    box-shadow: -1rem -0.2rem 0.4em olive, 1rem 0.2rem 0.4em red;
}

.deselected {
    background-color: inherit;
}

ul.pagination li:hover {
    background-color: teal;
    color: white;
    font-size: 1.6rem;
}

#panelNavigation {
    position: fixed;
    bottom: 50px;
    right: 10px;
}

#panelNavigation:hover {
    display: block;
    z-index: 99999999;
    border: 2px solid red;
    border-radius: 5%;
    background-color: aquamarine;
}

#progressBar {
    max-width: 80%;
}

@media screen and (min-width: 992px) {
    .wrapper {
        overflow-x: auto;
    }
    td {
        /* max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
    }
}