@{

}

<nav>
    <div class="nav-wrapper">
        <a asp-controller="Home" asp-action="Index" class="brand-logo">Index</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a asp-controller="Gipermall" asp-action="Index" >gipermall</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a asp-controller="Gipermall" asp-action="Index" >gipermall</a></li>
</ul>
