<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTR43WEB</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <partial name="_BundledCSSDev" />
    </environment>
    <environment exclude="Development">
        <partial name="_BundledCSSProd" />
    </environment>
</head>
<body>
    @RenderBody()
    <environment include="Development">
        <partial name="_BundledScriptsDev" />
    </environment>
    <environment exclude="Development">
        <partial name="_BundledScriptsProd" />
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
