<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTR43WEB</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <partial name="_BundledCSS" />
    </environment>
    <environment exclude="Development">
        <partial name="_BundledCSS" />
    </environment>
    @Html.AntiForgeryToken()
</head>
<body>
    @RenderBody()
    <environment include="Development">
        <partial name="_BundledScripts" />
    </environment>
    <environment exclude="Development">
        <partial name="_BundledScripts" />
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
