@{
    Layout = "_Layout";
}

<div id="react-container"></div>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
    console.log("react-container");
</script>
}